---
import experiences from "../collections/experiences.json";
import AboutExperience from "../components/about-experience.astro";
import PageHeading from "../components/page-heading.astro";
import Layout from "../layouts/main.astro";
---

<Layout title="About Me">
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0">
    <PageHeading
      title="About Me"
      description="Hello 👋 I'm Iván Díaz Capilla, a passionate Software Engineer with expertise in JavaScript and automated testing. I thrive on learning new technologies and contributing innovative ideas within dynamic team environments."
    />
    <br>
    <h2 class="mb-2 text-2xl font-bold dark:text-neutral-200">Technical Skills</h2>
    <p
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
    React • Node.js • Express.js • JavaScript • Java • HTML • CSS • Phyton • C# .Net • MySQL •
    PostgreSQL • Redis • SQL • IBM Cloud • Watson Assistant • GitHub • Jira • Selenium • Pytest •
    Android Studio • NetBeans • Visual Studio
    </p>

    <h2
      class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
    >
      Experience
    </h2>
    <div class="px-5 py-10">
      {
        experiences.map((experience, loop) => {
          return (
            <>
              {loop == 0 || loop == 1 ? (
                <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                  <AboutExperience
                    dates={experience.dates}
                    role={experience.role}
                    company={experience.company}
                    description={experience.description}
                    logo={experience.logo}
                  />
                </div>
              ) : (
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              )}
            </>
          )
        })
      }
    </div>

    <h2 class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200">Let's Connect</h2>
    <p 
      class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
    >
      If you're interested in collaborating or have any questions, feel free to send me an
      <a href="mailto:ivan.diaz.capilla@gmail.com" class="text-indigo-600 underline">email</a> 
      or connect with me on 
      <a href="https://www.linkedin.com/in/ivandiazcapilla" class="text-indigo-600 underline" target="_blank" rel="noopener noreferrer">LinkedIn</a>. 
      I look forward to hearing from you!
  </p>

  </section>
</Layout>
